<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzLSCh8FoxFJh7GKPftFGaEsuAltNLUwI</string>
	<key>GCM_SENDER_ID</key>
	<string>722895189626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expireNotifier</string>
	<key>PROJECT_ID</key>
	<string>expire-notifier-b08eb</string>
	<key>STORAGE_BUCKET</key>
	<string>expire-notifier-b08eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722895189626:ios:1cde0c86a76aaac21dadc3</string>
</dict>
</plist>